* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #7bdaf3;
  display: flex;
  flex-wrap: wrap;
}

.note-head {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  margin-top: 45px;
}

.notes {
  background-color: #fff;
  height: 250px;
  width: 250px;
  margin-top: 100px;
  margin-left: 15px;
}

.note-header {
  position: relative;
  background-color: #ecfaf5;
  padding: 10px;
}

.add-note {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 10px;
  border: none;
  border-radius: 100%;
  background-color: green;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.add-note .fas {
  font-size: 30px;
  color: #fff;
}
.search-note {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #9ec862;
  width: 100%;
}
input {
  width: 40%;
  align-self: center;
  outline: none;
  padding: 8px;
  border: 0.5 solid #9ec862;
}

#close {
  color: red;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.save,
.edit {
  float: right;
  border: none;
  background-color: transparent;
  color: green;
  font-size: 20px;
}
.edit {
  color: rgb(62, 62, 221);
  font-size: 18px;
}

.note-body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-text {
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  word-wrap: break-word;
  border: 0.5px solid black;
  overflow: auto;
  text-align: justify;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 100%;
  outline: none;
  text-align: justify;
  padding: 5px;
  font-size: 12px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 500px) {
  .notes {
    height: 50vh;
    width: 100%;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  textarea {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-text {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}
